@using CustomHelpers
@using Microsoft.SqlServer.Types;

@{
    ViewBag.Title = "Permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a name="ancla" id="ancla"></a>
<div class="row form-general margin-top-10">
    <div class="col l12 m12 s12">
        <div class="row">
            <div class="col l9 m9 s12">
                <h5>Indicadores</h5>
            </div>
        </div>
        <div id="TablaIndicadores">
            @Html.Action("_TablaPermisos", "PermisosView")
        </div>
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="loading loding-personas">
                    <div class="row center">
                        <div class="col s12 m12 l12">
                            @Html.Image("~/Upload/Sistema/Loading_02.gif", "Loading", new { @class = "responsive-img center" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
