@model CRME.Models.Procesos
@{
    CRME.Models.SIRE_Context db = new CRME.Models.SIRE_Context();
}

@*<div class="col s12 m12 l12">*@
<b class="">Responsable de la medicion:</b>

@*@Html.DropDownListFor(model => db.cat_sistemas.Find(model.respónsable).username, new SelectList(ViewBag.sistemas_ID, "Value", "Text"), " ", htmlAttributes: new { @class = "select classic" })*@

@Html.TextBox(respmed, model => db.cat_sistemas.Find(model.respónsable).username)

@*</div>*@
