@model CRME.Models.cat_periodos

@*<div class="col s12 m12 l12">*@
<b class="">Frecuencia de Medicion:</b>

@Html.DropDownListFor(model => model.periodo_ID, new SelectList(ViewBag.periodo_ID, "Value", "Text"), " ", htmlAttributes: new { @class = "select classic" })

@*</div>*@
